@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zen+Dots&display=swap');

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    background: #141414;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.links li {
    list-style: none;
    margin-left: 95px;
    font-family: 'Inter';
}

.links ul {
    display: flex;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.links a:hover {
    font-weight: bold;
}

.cover {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#cover {
    background-image: url(./img/главная_машина.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

h1 {
    margin: 0px;
    color: #ffffff;
    font-family: 'Zen Dots';
    font-size: 96px;
    font-weight: normal;
}

h2 {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 36px;
    font-weight: bold;
    margin-top: 90px;
}

p {
    color: #ffffff;
    font-size: 20px;
    margin: 0px;
    font-weight: 300;
    font-family: 'Inter';
}

button {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px 15px;
    background: none;
    border-radius: 1px;
    margin-top: 60px;
    margin-left: 0px;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
}

button:hover {
    color: #141414;
    background: #ffffff;
    transition: all 0.3s ease;
}

.coverDescription {
    padding-bottom: 130px;
}

.coverDescription p {
    font-size: 36px;
    margin-top: 30px;
}

.coverDescription button {
    margin-top: 66px;
}

.about_Us p {
    margin-top: 40px;
}

.about_Us li {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 20px;
}

.about_Us ul {
    margin-top: 0px;
}

.popular img {
    margin-top: 40px;
    width: 353px;
    height: 178.58px;
}

.central_photo {
    margin-right: 35px;
    margin-left: 35px;
}

.popular button {
    margin-top: 40px;
}

.popular_button {
    display: flex;
    justify-content: flex-end;
}

h4 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

.conditions h2 {
    display: flex;
    justify-content: center;
}

.cards p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.central {
    margin-right: 40px;
    margin-left: 40px;
}

.card {
    width: 275px;
    height: 180px;
    border: 2px solid #ffffff;
    background: none;
    padding-top: 20px;
}

#questions {
    background-image: url(./img/машина_б.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.questions-desc h2 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.questions-desc p {
    display: flex;
    justify-content: center;
}

form {
    padding: 90px;
}

.form-flex {
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

input {
    width: 348.52px;
}

textarea {
    width: 348.52px;
    height: 156.93px;
}

input,
textarea {
    padding: 15px 25px;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #141414;
    outline: none;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 300;
}

.application {
    display: flex;
    justify-content: center;
}

form button {
    margin-top: 28px;
    padding: 15px 30px;
}

#contacts {
    background-image: url(./img/карта.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 376px;
}

.contacts {
    display: flex;
    justify-content: flex-end;
}

.block_contacts {
    background: #ffffff;
    width: 247px;
    height: 212px;
    margin-top: 80px;
    padding-left: 30px;
}

.contacts img {
    width: 109px;
    height: 21px;
}

.contacts h2 {
    font-size: 22px;
    color: #141414;
    margin-bottom: 9px;
    margin-top: 30px;
}

.contacts li {
    font-size: 16px;
    color: #141414;
    font-family: 'Inter';
    font-weight: 300;
    margin-top: 14px;
    margin-left: -20px;
    list-style-type: square;
}

#logotip {
    border-top: 1px solid #ffffff;
}

.logotip {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.catalog img {
    width: 1140px;
    margin-top: 40px;
}

.catagoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catagoria a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    margin-right: 67px;
    margin-bottom: 90px;
}

.catagoria a:hover {
    font-weight: 350;
}

.left {
    margin-left: -17px;
}

h3 {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 300;
}

.cars img {
    width: 353px;
    height: 178.58px;
    margin-top: 40px;
    margin-bottom: 90px;
}

.modelDescription p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.containerModel img {
    width: 630px;
    height: 318.72px;
}

.modelDescription button {
    margin-right: 20px;
    margin-top: 20px;
}

.prices {
    padding: 15px 35px;
}

.rent {
    padding: 15px 50px;
}

.containerModel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-right: 120px;
}

td {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 40px 20px;
    border-right: 1px solid #ffffff;
}

.tariffs td {
    border-bottom: 1px solid #ffffff;
}

.last {
    border-right: 0;
}

table {
    background: #2B2D32;
    border: 1px solid #ffffff;
    margin-top: 40px;
    margin-bottom: 90px;
}

#booking {
    background-image: url(./img/машина_м.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.booking-desc h2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.inputs-2 {
    align-items: center;
    justify-content: space-between;
}

.inputs-2 input {
    margin-right: 20px;
}

.leftInputs {
    margin-bottom: 20px;
}

#booking form {
    padding-top: 40px;
}

#booking button {
    margin-bottom: 90px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
}

.mobile {
    display: none;
}

.burger-menu {
    display: none;
}

.c-mobile-p {
    display: none;
}

.q-mobile-p {
    display: none !important;
}

.m-mobile-p {
    display: none !important;
}

.b-mobile {
    display: none !important;
}

.cost-mobile {
    display: none !important;
}

@media (max-width: 430px) {
    .container {
        width: 380px;
        position: relative;
    }

    header {
        padding-top: 10px;
    }

    .desktop {
        display: none;
    }

    .burger-menu {
        background: #ffffff;
        padding: 0 5px;
        margin-top: 5px;
    }

    .burger-icon {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #141414;
        margin: 5px 0;
    }

    .burger-menu {
        display: block;
    }

    .mobile.links {
        display: none;
        position: absolute;
        top: 48px;
        right: 0;
        background-color: #fff;
        padding: 0 10px;
        z-index: 10;
    }

    .mobile.links.open {
        display: block;
    }

    .links li {
        margin: 5px 0;
    }

    .links a {
        color: #141414;
        font-size: 16px;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
        margin: 10px 0;
    }

    .cover {
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
        margin-top: 40px;
    }

    p {
        font-size: 16px;
    }

    button {
        margin-top: 30px;
        padding: 10px 15px;
        font-size: 12px;
    }

    .c-desktop-p {
        display: none;
    }

    .c-mobile-p {
        display: block;
    }

    .coverDescription {
        padding-bottom: 0;
    }

    .coverDescription p {
        font-size: 18px;
        margin-top: 10px;
    }

    .coverDescription button {
        margin-top: 20px;
    }

    .about_Us p {
        margin-top: 20px;
    }

    .about_Us li {
        font-size: 16px;
    }

    .popular h2 {
        text-align: center;
    }

    .popular img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .central_photo {
        margin-left: 0;
        margin-right: 0;
    }

    .popular button {
        margin-top: 20px;
    }

    .popular_button {
        justify-content: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 245px;
        height: 150px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 18px;
        margin-top: 10px;
    }
    
    .cards p {
        font-size: 14px;
        margin-top: 10px;
    }

    .q-desktop-p {
        display: none !important;
    }

    .q-mobile-p {
        display: block !important;
        text-align: center;
    }

    #questions {
        background-image: url(./img/фон3.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }

    form {
        padding: 40px 0;
    }

    .form-flex {
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        margin-right: 0;
    }

    input {
        width: 300px;
    }

    textarea {
        width: 300px;
        height: 120px;
    }

    input,
    textarea {
        padding: 10px 20px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .application {
        justify-content: center;
    }

    form button {
        padding: 10px 30px;
    }

    #contacts {
        background-size: cover;
        background-position: center;
    }

    .block_contacts {
        width: 155px;
        height: 165px;
        margin-top: 110px;
        padding-left: 20px;
    }

    .contacts h2 {
        font-size: 18px;
        margin-top: 10px;
    }

    .contacts li {
        font-size: 12px;
    }

    .contacts img {
        width: 80px;
        height: 15px;
    }

    .logotip {
        margin: 20px 0;
    }

    #cover_1 {
        position: relative;
        z-index: 1;
    }

    .catagoria-img {
        display: none;
    }

    .catalog img {
        margin-top: 20px;
    }

    .catalog h2 {
        text-align: center;
    }

    .catagoria {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .catagoria a {
        display: block;
        padding: 10px 15px;
        margin: 0;
        border-radius: 8px;
        background-color: #2B2D32;
        text-align: center;
        font-size: 14px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .catagoria a:hover {
        background-color: #474950;
        transform: scale(1.05);
    }

    .left {
        margin-left: 0;
    }

    .cars {
        flex-direction: column;
    }

    .car {
        width: 100%;
    }

    .car img {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .m-desktop-p {
        display: none !important;
    }

    .m-mobile-p {
        display: block !important;
    }

    .modelDescription p {
        font-size: 18px;
    }

    .containerModel {
        flex-direction: column;
        align-items: start;
        margin: 20px 0;
    }

    .containerModel img {
        width: 100%;
        height: auto;
    }

    .modelDescription {
        margin-top: 20px;
    }

    .modelDescription button {
        margin: 10px 0;
    }

    #costRent h3 {
        text-align: center;
    }

    .cost-desktop {
        display: none !important;
    }

    .cost-mobile {
        display: block !important;
    }

    table {
        margin-top: 20px;
        margin-bottom: 60px;
        width: 267px;
        margin-left: auto; 
        margin-right: auto; 
    }

    td {
        font-size: 18px;
        padding: 20px 10px;
        border-right: 0;
        border-bottom: 1px solid #ffffff;
    }

    .bottom td {
        border-bottom: 0;
    }

    .c-left {
        border-left: 1px solid #ffffff;
    }

    .b-desktop {
        display: none !important;
    }

    .b-mobile {
        display: block !important;
        text-align: center;
    }

    #booking {
        background-image: url(./img/фон3.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }

    .inputs-2 input {
        margin-right: 0;
    }

    .leftInputs {
        margin-bottom: 0;
        margin-right: 0;
    }

    #booking form {
        padding-top: 20px;
    }

    #booking button {
        margin-bottom: 20px;
    }
}